@charset "UTF-8";
/* CSS Document */
@keyframes tuba {
		0% {transform: translate(-1200px);}
		100% {transform: translate(1200px);}
}
@keyframes tubon {
		0% {transform: translate(1200px);}
		100% {transform: translate(-1200px);}
}
@keyframes quand {
		0% {opacity: 0;}
		100% {opacity: 1;}
}
@keyframes contenedor {
	0%{ 
		opacity: 0;
		transform: translateY(-20px);

	}
	80%{
		opacity: 1;
		transform: translateY(10px);
	}}
*{margin: 0; padding: 0;}
body {font-family:Arial, "sans-serif"; line-height: 1.4;background-color:#000000;}	

.social { position: fixed; right: 10px; top:50%; width: 50px; margin-top: -26px; }
header {
	background-color: #000000; 
	height: auto;
	text-align: center; 
	}

nav {background-color:#FFFFFF;
	color:#000000;
	height: auto; }

nav ul {
	text-align: center;
	list-style-type: none;	z-index: 10;
}
nav ul li {
	display: inline;}
nav ul li a {color:#000000; padding: 12px; display: inline-block; text-decoration: none;}

nav ul li a:hover { 
	background-color:yellow;
	color:#000000;
	text-decoration: none;	
	animation-name: contenedor;
	animation-iteration-count: 2;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-play-state: running;
}
.intro {
	padding-top: 170px;
}
.intro p {
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
}
section .textop{ 
	color:#FFFFFF;
	background-color: #000000;
	text-align: center;
	font-size: 18px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px;
	}
.francia {
}
.info {
	display: flex; 
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 50px;
}
.box1 { 
		width: 28%; 
		margin: 1% 2.3% 2% 1%;
		padding: 10px; 
 		background-color: grey; color: #FFFFFF;
 		text-align: center;
 		animation: quand;
		animation-delay: 0s;
		animation-duration: 4s;
		background-position: 360px;
 		}
 .box2 { 
		width: 28%; 
		margin: 1% 2.3% 2% 1%;  
		padding: 10px; 
 		background-color: grey; color: #FFFFFF;
 		text-align: center;
 		animation: quand;
		animation-delay: 2s;
		animation-duration: 4s;
		background-position: 360px;
 		}
 .box3 { 
		width: 28%; 
		margin: 1% 2.3% 2% 1%;  
		padding: 10px; 
 		background-color: grey; color: #FFFFFF;
 		text-align: center;
 		animation: quand;
		animation-delay: 4s;
		animation-duration: 4s;
		background-position: 360px;
 		}
 .box4 { 
		width: 28%; 
		margin: 1% 2.3% 2% 1%;  
		padding: 10px; 
 		background-color: grey; color: #FFFFFF;
 		text-align: center;
 		animation: quand;
		animation-delay: 6s;
		animation-duration: 4s;
		background-position: 360px;
 		}
 .box5 { 
		width: 28%; 
		margin: 1% 2.3% 2% 1%; 
		padding: 10px; 
 		background-color: grey; color: #FFFFFF;
 		text-align: center;
 		animation: quand;
		animation-delay: 8s;
		animation-duration: 4s;
		background-position: 360px;
 		}
 .box6 { 
		width: 28%; 
		margin: 1% 2.3% 2% 1%;  
		padding: 10px; 
		background-color: grey;
 		color: #FFFFFF;
 		text-align: center;
 		animation: quand;
		animation-delay: 10s;
		animation-duration: 4s;
		background-position: 360px;
 		}

#special{ 
		display: flex;
		flex-direction: column;
}
#special img{ 
		margin-top: 30px;
}
#special h1, #personajes h1{ 
		margin-top: 10px;
		color: #FFFFFF;
		text-align: center;
}
#special h2{ 
		margin-top: 25px;
		color: yellow;
		text-align: center;
}
#special p, #personajes p{ 
		margin-top: 10px;
		margin-bottom: 20px;
		color: #FFFFFF;
		text-align: center;
}

#personajes {
	display: flex; 
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 50px;
}
#personajes h1 {
	color: yellow;
}
.actores{
	align-content: space-around;
	/background-color: #edeeee;/
	width: 300px; height: 400px;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 50px;
   	display: flex;
   	 align-items: center;
  	justify-content: center;
   	position: relative;

}
section h1{
	color: #FFFFFF;
	text-align: center;
	margin-top: 20px;
}
.actores img {
	transition-duration:1.5s;
	transition-property: opacity;
	transition-delay: 0s;
}

.actores h2, .actores p {
	display: none;
	position: absolute;
	text-align: center;
	opacity: 0;
	transition-duration:1.5s;
	transition-delay: 0s;
	transition-property: opacity;

}
.actores:hover p { display:block; opacity: 0.8;}
.actores:hover img {opacity: 0.2;}
/*.actores:hover h2 {opacity: 0.8;}*/
.sug h1{
	color: yellow;
}
.form-group {
	color: #FFFFFF;
	margin: 2%;
}

.resp {
	text-align: center;
	margin: 50px;
}
footer {
	padding: 12px;
	display: flex;
	justify-content: center;
	background-color: #212121;
	color:#FFFFFF;
	position: relative;
	bottom: 0px;
}
.tuba{ 
	width: 50px;
	bottom: 0%;
	right: -5%;
	animation-name: tuba;
	animation-duration: 6s;
	animation-delay: 3.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	}
.tubon{ 
	width: 50px;
	bottom: 50%;
	right: 90%;
	animation-name: tubon;
	animation-duration: 6s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	}
.tuba, .tubon {position: absolute;}

/*Media Queries handheld solamente para disp portatiles{}*/
/*la de aca es para la pantalla MAS grande*/
@media screen and (min-width: 1201px) and (max-width: 1200px) {
	body {background: #000000;}
}
/*la de aca es para la pantalla grande*/
@media screen and (min-width: 991px) and (max-width: 1200px) {
	body {background: #000000;}
}
/*la de aca es para la pantalla mediana*/
@media (min-width: 600px)  and (max-width: 990px)
 {
	body {background: #000000;}
	#contenedor {flex-wrap: wrap;}
	.box {width: 100%}

}
/*la de aca es para la pantalla pequeña*/
@media (min-width: 0px)  and (max-width: 599px)
 {
	body {background: #000000;}
	#contenedor{flex-wrap: wrap;}/*se puede hacer con flex-direction:column o display:block*/
	.box1, .box2, .box3, .box4, .box5, .box6 {width: 100%;}
}